## numpy2pd

In [2]:
import pandas as pd
import numpy as np

a1 = [1,2,3,4,5]
a2 = [[1,2,3,4,5], [6,7,8,9,0]]
a3 = np.array(a2)
a4 = {'a1': a2[0], 'a2': a2[1]}

### 縱向打印

In [3]:
b1 = pd.DataFrame(a1)
b1

   0
0  1
1  2
2  3
3  4
4  5

### 橫向打印

In [6]:
b1 = pd.DataFrame([a1])
b1
b1 = pd.DataFrame(np.array(a1)[np.newaxis, :])
b1
b1 = pd.DataFrame(np.array([a1]))
b1

   0  1  2  3  4
0  1  2  3  4  5

   0  1  2  3  4
0  1  2  3  4  5

   0  1  2  3  4
0  1  2  3  4  5

In [7]:
b1 = pd.DataFrame(a2)
b1

   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  9  0

### 添加表頭

In [10]:
b2 = pd.DataFrame(a2, columns=['a', 'b', 'c', 'd', 'e'])
b2
b2 = pd.DataFrame(a2)
b2.columns = ['a', 'b', 'c', 'd', 'e']
b2

   a  b  c  d  e
0  1  2  3  4  5
1  6  7  8  9  0

   a  b  c  d  e
0  1  2  3  4  5
1  6  7  8  9  0

In [21]:
b4 = pd.DataFrame(a4)
b4
b4.values
np.array(b4)
dict(b4)
a4

   a1  a2
0   1   6
1   2   7
2   3   8
3   4   9
4   5   0

array([[1, 6],
       [2, 7],
       [3, 8],
       [4, 9],
       [5, 0]])

array([[1, 6],
       [2, 7],
       [3, 8],
       [4, 9],
       [5, 0]])

{'a1': 0    1
 1    2
 2    3
 3    4
 4    5
 Name: a1, dtype: int64,
 'a2': 0    6
 1    7
 2    8
 3    9
 4    0
 Name: a2, dtype: int64}

{'a1': [1, 2, 3, 4, 5], 'a2': [6, 7, 8, 9, 0]}